body {
	font-family:"Arial Narrow",Arial,Sans-Serif;
	color: black;
}
p {
	text-align: justify;
	text-indent: 3rem;
}
ul, ol {
	margin-left: 4rem;
}
h1, h5 {
	text-align: center;
}
h2 {
	font-size: 1.6875rem;
}
h3 {
	font-size: 1.375rem;
}
h4 {
	font-size: 1.125rem;
}
.subtitle {
	text-align:center;
	font-style:italic;
	font-size: 1.4375rem;
}
.float-nav {
	position: fixed;
	bottom: 5px;
	right: 5px;
}
.lg-icon {
	font-size: 20px !important;
	color: black !important;
}
@media (min-width:641px){
	.float-nav {
		margin-right: 20px;
	}
	.lg-icon {
		font-size: 25px !important;
	}
}
.noindent {
	text-align:left;
	text-indent:0px;
}
.halfindent { /* used in dyknow */
	text-align:left; 
	text-indent:25px;
}
p.overindent { /* used for the author's name*/
	text-align:left;
	text-indent:150px;
	font-style:italic;
}
.poetry { /* used in fruitspirit */
	text-align:left;
	text-indent:150px;
	line-height:150%;
	font-style:italic;
}
@media (max-width:430px){
	.poetry {
	text-indent:100px;
	}
}
@media (max-width:380px){
	.poetry {
	text-indent:50px;
	}
}
.small {
	font-size:0.75em;
}
.bh {
	text-align:center;
	text-indent:0px;
	font-size:0.8em;
	margin-bottom: 0px;
}
.c {
	text-align:center;
	text-indent:0;
	margin: 0px;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}